@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

html {
  font-family: "roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #131313;
}
.color-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #000;
}

.color-picker {
  position: absolute;
  z-index: 1000;
}
